.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #121620d1;
  /* background: transparent; */
  height: 80px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.container2 {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 550px;
}
.links {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: color 300ms;
}
.links:hover {
  color: grey;
}
.launchBtn {
  background-color: #121620d1;
  color: white;
  border: 0.8px solid #008cba;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.launchBtn:hover {
  background-color: #008cba;
  color: white;
}
